* {
    justify-content:center;
    text-align:center;
}

h1 {
    background-color: #764AF1;
    padding: 20px;
    position: sticky;
    color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

body {
    background-color: #9772FB;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
}

.byline {
    font-family: 'Poppins', sans-serif;
}
div {
    display:flex;
    justify-content:center;
}

footer {
    text-align:center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

i {
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse; 
}

.bottom-border {
    border-bottom: 1px dashed black;
    padding-bottom: 10px;
    padding-top:10px;
}

.button {
    display:inline;
    margin: 10px;
}

.labels {
    color:white;
    font-family: 'Poppins', sans-serif;
}
